---

---

<footer class="slide-enter animate-delay-1600! px-7 mt-auto mb-8">
  <div class="prose mx-auto op-50">
    <div class="flex lt-sm:flex-col items-center text-sm whitespace-nowrap">
      <span>
        Seize the poetry and wine in the prime of life.
      </span>
    </div>
  </div>
</footer>
